.gray-button {
  height: 32px;
  padding: 0 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius-2);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: var(--color-gray-100);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-dark);
  cursor: pointer;
}

.gray-button > svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: var(--space-10);
  fill: var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.gray-button:hover {
  background-image: linear-gradient(
    0deg,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  transform: translateY(-1px);
  color: var(--color-white);
}

.gray-button:hover > svg {
  fill: var(--color-white);
  color: var(--color-white);
}

.gray-button:active {
  background-image: linear-gradient(
    0deg,
    var(--color-secondary-light),
    var(--color-secondary-dark)
  );
  color: var(--color-white);
  transform: translateY(1px);
}

.gray-button--rounded {
  border-radius: var(--radius-8);
}

.gray-button--disabled {
  color: var(--color-gray-200);
}

.gray-button--disabled > svg {
  fill: var(--color-gray-200);
  color: var(--color-gray-200);
}

.gray-button--disabled:hover {
  transform: none;
  background-image: var(--color-gray-100);
  color: var(--color-gray-200);
  cursor: default;
}

.gray-button--disabled:hover > svg {
  fill: var(--color-gray-200);
  color: var(--color-gray-200);
}

.gray-button--active {
  background-image: linear-gradient(
    0deg,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: var(--color-white);
}

.gray-button--active:active {
  background-image: linear-gradient(
    0deg,
    var(--color-secondary-light),
    var(--color-secondary-dark)
  );
  color: var(--color-white);
}

.gray-button--active > svg {
  fill: var(--color-white);
  color: var(--color-white);
}

.gray-button--red {
  color: var(--color-red-dark);
}

.gray-button--red > svg {
  fill: var(--color-red-dark);
  color: var(--color-red-dark);
}

.gray-button--green {
  color: var(--color-secondary-dark);
}

.gray-button--green > svg {
  fill: var(--color-secondary-dark);
  color: var(--color-secondary-dark);
}

.gray-button--red-icon > svg {
  fill: var(--color-red-dark);
  color: var(--color-red-dark);
}

.gray-button--w160 {
  width: 160px;
  padding: 0 auto;
}
.gray-button--w120 {
  width: 120px;
  padding: 0 20px;
}

.gray-button--h36 {
  height: 36px;
}
