.posts__lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-50);
}




@media screen and (max-width: 624px) {
  .posts__lists{
    background-color: var(--color-gray-100);
  }
}