.user-profile {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: var(--space-30);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: var(--radius-12);
}

.user-profile__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-30);
}

.user-profile__dropdown {
  position: absolute;
  right: 20px;
}

.user-profile__block {
  width: 300px;
  height: 300px;
}

.user-profile__avatar {
  width: 306px;
  height: 306px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #4ca6ff 0%, #0050b2 68.23%);
}

.user-profile__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-profile__about {
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.user-profile__username {
  margin: var(--space-10) var(--space-30) var(--space-10) 0;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
}

.user-profile__description {
  display: block;
  margin: var(--space-10) 0;
  font-size: var(--font-size-14);
}

.user-profile__hr {
  margin: var(--space-20) 0;
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  background: var(--color-gray-100);
}

.user-profile__info {
  margin: var(--space-40) 0 var(--space-10) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-30);
}

.user-profile__data {
  margin: 0;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-bold);
}

.user-profile__data > span {
  margin-right: var(--space-5);
  font-weight: var(--font-weight-regular);
}

.user-profile__data > svg {
  width: 16px;
  height: 16px;
  margin-right: var(--space-5);
  fill: var(--color-primary-dark);
  transform: translateY(2px);
}

@media only screen and (max-width: 800px) {
  .user-profile {
    max-width: 460px;
  }
  .user-profile__container {
    align-items: center;
    justify-content: center;
  }

  .user-profile__about {
    max-width: 300px;
  }
  .user-profile__username {
    text-align: center;
  }
  .user-profile__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-15);
  }

  .user-profile__data {
    width: 200px;
  }
}

@media only screen and (max-width: 374px) {
  .user-profile__avatar {
    background-image: none;
  }
}
